/* Styles for rock paper scissors app
   John Webster
*/

#myJumbotron {
    padding: 0;
    margin: 0;
}
#rpsBox {
    /* height: 20rem; */
    background-image: url(../images/paper_texture.jpg);
    background-repeat: repeat;
}

#rockImage {
    height: 75px;
    background:transparent;
}
#paperImage {
    height: 75px;
}
#scissorsImage {
    height: 75px;
}
#statusBox {
    height: 3rem;
}